<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Note</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <h5 class="my-0 mr-md-auto font-weight-normal">Note</h5>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/notes">Список заметок</a>
            </nav>
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="display-4 fw-normal">Добавление новой Заметки</h2>
            <form action="/notes/add" method="post">
                <textarea name="content" placeholder="Ведите текст вашей заметки" class="form-control"></textarea><br>
                <button type="submit" class="btn btn-success">Сохранить заметку</button>
            </form>
        </div>
    </header>
</div>
</body>
</html>